{% extends "base.html" %} 

{% block content  %}
    <div class="container">
        <p>
            {{current_user.user.username}} Details
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    {{current_user.current_score}}
                </p>
            </div>
            <div class="col">
                <p>
                    {{current_user.high_score}}
                </p>
            </div>
            <div class="col">
                <p>
                    {{current_user.user.first_name}} {{current_user.user.last_name}}
                </p>
            </div>
        </div>
    </div>
{% endblock %}