{% extends 'base.html' %}


{% block content %}

<div class="container" style="padding: 5%;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th colspan="2" style="text-align: center;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Flash Game
                </td>
                <td>
                   <a name="start_game" id="start_game" class="btn btn-primary" href="{% url 'start_game' %}" role="button">Start Game</a> 
                </td>
                <td>
                   <a name="start_game" id="start_game" class="btn btn-primary" href="{% url 'game' attemps current_level %} " role="button">Challenge Mode</a> 
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}