{% extends 'base.html' %}
<!-- templates/home.html -->
{% block content  %}
{% load static %}

{% load socialaccount %}

<style>
    #banner{
        padding: 10%;
        padding-left: 23%;
        background-color: rgb(211, 132, 132);
        /* background-image: url("https://github.com/Manask322/ExploringInfinities/blob/master/static/img/a.jpg"); */
    }
</style>
<section>
    <div class="row" id="banner">
        <div class="col">
            Details about App
        </div>
        <div class="col">
            {% if user.is_authenticated %}
                <a name="start_game" id="start_game" class="btn btn-primary" href="{% url 'games' %}" role="button">Browse Games</a>
            {% else %}
                <a name="start_game" id="start_game" class="btn btn-primary" onclick="loginalert()" role="button">Brose Games</a>
            {% endif %}
        </div>
    </div>
</section>

<section style="margin-top: 2%;">
    <div style="text-align: center;">
        <h1>High Scores</h1>
    </div>
    <div class="container" style="width: 60%;">
        <table class="table table-striped" style="text-align: center;">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 2%;">Id</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th>{{ forloop.counter}}</th>
                    <th>{{user.user.username}}</th>
                    <th>{{user.high_score}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script>
    function loginalert(){
        window.alert("Please Log IN to Start the Game !!")
    }
</script>

{% endblock %}